# EditorConfig - https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Go uses tabs
[*.go]
indent_style = tab
indent_size = 4

# YAML, JSON, Markdown use spaces
[*.{yml,yaml,json,md}]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 4

# Makefiles require tabs
[Makefile]
indent_style = tab
